<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Other Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">



    <title>Covid Vaccine Sentiments</title>

</head>

<body>


    <!-- ---------------------------------------------------------------- -->
    <!----------------------------- NAVIGATION ---------------------------->

    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="#Introduction">Intro</a>
                    <a class="nav-link" href="#Results">Results</a>
                    <a class="nav-link" href="#Links">Links</a>
                    <a class="nav-link" href="/data">Data</a>
                </div>
            </div>
        </div>
    </nav>

    <br>
    <!-- ------------------------content------------------------------ -->
    <div class="container">


        <!-- ---------------------------------------------------------------- -->
        <!-- ------------------------INTRO------------------------------ -->

        <div class="row" id="Introduction">
            <div class="col-md-12"><br>
                <h1>Introduction</h1>
                <hr>
                <p>
                    This project analyzes tweets about Covid 19 Vaccines. <br> Tweets were gathered from the Twitter API which mentioned: Covid Vaccine, Covid-19 Vaccine, Moderna, Pfizer, Pfizer-BioNTech, AstraZeneca, Astra Zeneca<br> Tweets were cleaned
                    and analyzed for polarity and subjectivity
                    <br><br> A more thorough methodology can be found in the readme <a href="https://github.com/NikitaCase/covid-vaccine-sentiments" target="_blank">here.</a>

                </p>
            </div><br>
        </div>


        <!-- ---------------------------------------------------------------- -->
        <!-- ------------------------RESULTS------------------------------ -->
        <div class="row" id="Results">
            <div class="col-md-12"><br>
                <h1>Results</h1>
                <hr>



                <!-------- Word Cloud -------->

                <div class="row" id="Word-Cloud">
                    <div class="col-md-12">
                        <h3>Text Analysis</h3>
                        <p>Word Clouds</p>
                    </div>


                </div>

                <div class="row">
                    <!-- controls -->
                    <div class="col-md-4">

                        <div class="drop-down">

                            <form>
                                <div class="well"><br>
                                    <label for="selCompanywc"><h5>   Manufacturer</h5></label><br>
                                    <select id="selCompanywc" name="company">
                                    <option value="az">AstraZeneca</option>
                                    <option value="mo">Moderna</option>
                                    <option value="pf">Pfizer-BioNTech</option>
                                    <option value="all">All</option>    
                                </select>
                                </div><br>
                            </form>



                            <form>
                                <div class="well"><br>
                                    <label for="selSentiment"><h5>   Sentiment</h5></label><br>
                                    <select id="selSentiment" name="sentiment">
                                        <option value="pos">Positive</option>
                                        <option value="neg">Negative</option>
                                        <option value="all">All</option>
                                    
                                </select>
                                </div><br>
                            </form>

                        </div>

                    </div>

                    <!-- Display area -->
                    <div class="col-md-8" id='display-cloud'></div><br><br>

                </div><br>

                <!-------- Boxes -------->
                <div class="row" id='polarity'><br>
                    <div class="col-md-12">
                        <h3>Polarity by Manufacturer</h3>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12" id='display-boxes'>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id='display-violins'>

                    </div>
                </div>


                <!-------- Scatter -------->
                <div class="row" id="Popularity"><br><br>
                    <h3>Percentage Tweets by Polarity</h3>


                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div id="scatter"></div>

                    </div>
                </div>


                <!-------- Bars  -------->
                <div class="row">
                    <div class="col-md-12"><br>
                        <div class="row" id="Retweets">

                            <div class="col-md-12">
                                <h3>Retweets and Likes by Company Mentions</h3><br>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6" id='plot-retweets'>

                            </div>
                            <div class="col-md-6" id='plot-likes'>

                            </div>
                        </div>
                    </div>
                </div>





                <!-- end block  -->
            </div>
        </div>





        <!-- ---------------------------------------------------------------- -->
        <!-- ------------------------REFERENCES------------------------------ -->
        <div class="row" id="Links">
            <div class="col-md-12"><br>
                <h1>Links</h1>
                <hr>
                <ul>
                    <li>
                        <a href="/data">Sample Data</a>
                    </li>
                    <li>
                        <a href="https://github.com/NikitaCase/covid-vaccine-sentiments" target="_blank">Project Github</a>
                    </li>
                    <li>
                        <a href="https://developer.twitter.com/en/docs" target="_blank">Twitter API Docs</a>
                    </li>

                </ul>

            </div><br>
        </div>


        <!-- ---------------------------------------------------------------- -->
        <!-- ------------------------ABOUT-ME------------------------------ -->
        <div class="row" id="About-Me">
            <div class="col-md-12">

            </div>
        </div>

    </div>



    <!-- ---------------------------------------------------------------- -->
    <!-- ------------------------- DEPENDENCIES ----------------------- -->
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!-- D3  -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scatter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bars.js') }}"></script>
    <script src="{{ url_for('static', filename='js/clouds.js') }}"></script>
    <!-- Chart js
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script> -->


</body>

</html>